*{box-sizing: content-box}
.red{border:1px solid red; height:100px; width:100px;margin:5px;border-radius:10px}
.blue{border:1px solid blue; height:100px; width:100px;margin:5px;border-radius:10px}
.green{border:1px solid green; height:100px; width:100px;margin:5px;border-radius:10px}

.panel-heading{background-color:#ddddeb!important}
.panel-heading h4{text-decoration:none; color:#545487!important}
.panel :hover {background-color:#7676b8!important; text-decoration: none!important}
.panel :hover .panel-title {color:white!important; text-decoration: none!important}
.panel :hover .panel-body{background-color:white!important;color:#545487!important}

.row{border-bottom:1px solid #ddddeb;margin-bottom:5px;}
.customBtn{color:#545487!important;background-color:#ddddeb!important;border-radius: 10px;}
.customBtn:hover{color:white!important;background-color:#7676b8!important}
.nav{margin-bottom:10px!important}
.nav-pills .nav-link.active{
    color:#545487!important;
    background-color:transparent!important;
    border-bottom:3px #7676b8 solid;
  } 
.nav-pills .nav-link {border-radius: 0!important;}
.nav-link {padding:0.2rem 1rem!important}
.nav-link:hover{color:#545487!important;border-bottom:3px solid #ca5c28}
.nav-item a {color:#545487}